################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
*.cache
Metro Skin Installer/Metro Skin Installer/bin/
Metro Skin Installer/Metro Skin Installer/obj/